@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,400&display=swap");

/*
font-family: 'Barlow', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.back {
  height: 100%;
  width: 80vw;
  margin-left: 5%;
  margin-top: 3%;
  box-shadow: 2px 2px 8px 4px rgba(47, 36, 44, 0.28);
  background-image: linear-gradient(180deg, rgba(66, 66, 66, 1) 0%, rgba(31, 31, 31, 1) 100%);
  border-radius: 10px;
  margin-bottom: 3%;
}

.fomrs {
  display: flex;
  justify-content: center;
  
}

.row {
  padding: 2%;
  width: 95%;
  border-radius: 10px;
  background-color: #424242;
  box-shadow: 2px 2px 8px 0px rgba(35, 24, 37, 0.89);}

#row1 {
  margin: 2%;
  font-family: "Barlow", sans-serif;
}

#datadiv {
  width: 28%;
  margin: 1%;
}

#idVaga {
  width: 18%;
}

#nome {
  width: 48%;
  margin: 1%;
}

.col-7 {
}

.col-1 {
}

#icons {
  width: 35%;
  height: 55%;
  margin-top: 2.5%;
  margin-left: 2%;
  padding: 0 0 2.5% 2%;
  display: flex;
  justify-content: space-between;
}
.col-6 {
  width: 40%;
  display: flex;
}

button {
  width: 40%;
  height: 100%;
  font-size: 15px;
  margin-left: 10%;
  border-radius: 10px;
  font-family: "Barlow", sans-serif;
  box-shadow: 2px 2px 8px 4px rgba(232, 156, 212, 0.28);
}
