* {
  color: black;
  align-items: center;
  }

 

  .caixa{
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    border-radius: 1rem;
    margin-left: 8%;
    margin-top: 0;
    justify-content: space-between;
    
  }
  .cartao {
  width: 250px;
  height: 390px;
  margin: 30px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: 
  #f2f2f2;
  margin-left: 20px;
  }
  
  #card {
    border: none;
    background-color: 
  #f2f2f2;
   
  }
  
  .card-header {
    font-weight: bold;
    margin: 20px;
  }

  .card-body{
    margin-bottom: 0px;
    margin: 20px;
  }

  .card-footer{
    margin-top: 0px;
    margin: 20px;
  }

  @media (max-width:1780px) {
    .cartao {
    margin: 25px;
    
    } 
    .caixa {
      justify-content: flex-start;
    }
 }

  @media (max-width:1444px) {
    .cartao {
    width: 250px;
    justify-content: center;
    } 
 }

 @media (max-width:1290px) {
  .cartao {
  width: 280px;
  }
  .caixa {
    justify-content: space-around;
  }
}

 @media (max-width:1150px) {
  .cartao {
  width: 300px;
  height: 495px;
  place-content: space-around;
  } 
}