<form class="row g-3">
    <div class="DivParaNomeCompleto">
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">
          Nome Completo
        </label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Nome completo"
        />
      </div>
    </div>
    <div class="DivParaEmail">
      <label for="">Email do Candidato</label>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Email "
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2" type="email"
            >@gmail.com</span
          >
        </div>
      </div>
    </div>
    <div id="DivTelefone">
      <div class="form-group col-md-2">
        <label for="inputZip">Numero</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Numero</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
    </div>
    <div class="DivParaEndereco" id="Endereco">
      <div class="row g-3">
        <label for="form-control" id="LabelDoEndereco">Endereço</label>
        <div class="col-sm-7">
          <input
            type="text"
            class="form-control"
            placeholder="País"
            aria-label="City"
          />
        </div>
        <div class="col-sm">
          <select id="inputState" class="form-select">
            <option selected>Estado..</option>
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>DF</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PE</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
          </select>
        </div>
        <div class="col-sm-7">
          <input
            type="text"
            class="form-control"
            placeholder="Cidade"
            aria-label="City"
          />
        </div>
        <div class="col-sm">
          <input
            type="text"
            class="form-control"
            placeholder="Bairro"
            aria-label="State"
          />
        </div>
      </div>
    </div>
    <div class="col-md-6" id="DivNascimento">
      <label for="inputCity" class="form-label">Nascimento</label>
      <input type="date" class="form-control" id="inputCity" />
    </div>
    <div class="col-md-6" id="DivSalario">
      <label for="inputEmail4" class="form-label">Pretensão Salarial</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail4"
        placeholder="R$"
      />
    </div>
    <div class="col-md-4" id="NivelDiv">
      <label for="inputState" class="form-label">Nível</label>
      <select id="inputState" class="form-select">
        <option selected>Junior...</option>
        <option>Plenor</option>
        <option>Senior</option>
      </select>
    </div>
    <div class="col-md-4" id="VagaDiv">
      <label for="inputState" class="form-label">Vaga</label>
      <select id="inputState" class="form-select">
        <option selected>Programador Web..</option>
        <option>Programador Frontend</option>
        <option>Programador Backend</option>
        <option>Desenvolvedor NodeJs</option>
        <option>Desenvolvedor AngularJS</option>
        <option>Desenvolvedor VueJS</option>
        <option>Desenvolvedor ReactJS</option>
        <option>Desenvolvedor ReactJS</option>
        <option>Desenvolvedor TypeScript</option>
        <option>Desenvolvedor Python</option>
        <option>Desenvolvedor SQL</option>
        <option>Desenvolvedor C</option>
        <option>Desenvolvedor C++</option>
        <option>Desenvolvedor C#</option>
        <option>Desenvolvedor Ruby</option>
        <option>Desenvolvedor Swift</option>
        <option>Desenvolvedor Go</option>
        <option>Desenvolvedor Cloud</option>
        <option>Analista de Dados</option>
        <option>Analista de Requisitos</option>
      </select>
    </div>
    <div class="NotasEntrada" id="NotasEntradaDiv">
      <p>Notas de Avaliação</p>
      <label for="customRange3" class="form-label">SQL</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="5"
        step="1"
        id="customRange3"
      />
      <label for="customRange3" class="form-label">LG</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="5"
        step="0.5"
        id="customRange3"
      />
      <label for="customRange3" class="form-label">EN</label>
      <input
        type="range"
        class="form-range"
        min="0"
        max="5"
        step="0.5"
        id="customRange3"
      />
    </div>
    <div class="DescricaoCandidato" id="CandidatoDescricao">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrição Técnica</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
    <div class="AnexarDoc" id="Anexar">
      <div class="mb-3">
        <label for="formFileSm" class="form-label">Anexar Documento Curricular</label>
        <input class="form-control form-control-sm" id="formFileSm" type="file">
      </div> 
    </div>
    <div class="col-md-6" id="DivEntrevista">
      <label for="inputCity" class="form-label">Data da Entrevista</label>
      <input type="date" class="form-control" id="inputCity" />
    </div>
    <div class="BtnCadastrarCancelar">
      <button type="button" class="btn btn-primary btn-lg" id="btn1">Cadastrar</button>
      <button type="button" class="btn btn-secondary btn-lg" id="btn2">Cancelar</button>
    </div>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>