.header{
    width: 100%;
    height: 15%;
    background: linear-gradient(-90deg, #9464d2 0, #584397 25%, #1f1f59 50%, #000021 75%, #000000 100%) no-repeat;
    box-shadow: 0 0 5px white;
    background-size: 150% 150%;
    display: flex;


    animation: headeranime  8s ease infinite;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    width: 3.5rem;
    padding: 5%;
    margin-top: 2%  ;
}

.header .title-group i {
}

.header mat-elevation-z4{
}

.header mat-elevation-z4{
}

button{
    
}

@keyframes headeranime {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50% ;
    }
    100%{
        background-position: 0 50%;
    }
}