.header{
    width: 100%;
    height: 15%;
    background-color: #424242;
    box-shadow: 0 0 5px white;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    width: 3.5rem;
    padding: 5%;
    margin-top: 2%  ;
}

.header .title-group i {
}

.header mat-elevation-z4{
}

.header mat-elevation-z4{
}

button{
    
}
