<mat-sidenav-container class="container1">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list navegador">
            <button class="default freature">
                <a class="mat-list-item fre def" routerLink="/">
                    Início
                </a>
            </button>

            <button class="freature Entrevistar">
                <a class="mat-list-item ent" routerLink="/cadastrar">
                    Entrevistar
                </a>
            </button>

            <button class="freature aprovados">
                <a class="mat-list-item" routerLink="/omhold">
                    Aprovados
                </a>
            </button>

            <button class="freature contratados">
                <a class="mat-list-item" routerLink="/contratados">
                    Contratados
                </a>
            </button>

            <button class="freature inapto">
                <a class="mat-list-item in" routerLink="/inapto">
                    Inapto
                </a>
            </button>

            <button class="default">
                <a class="mat-list-item def" routerLink="/vagas">
                    Vagas
                </a>
            </button>

            <button class="default">
                <a class="mat-list-item def" routerLink="/analise">
                    Análise
                </a>
            </button>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>