.sidenav{
    width: 200px;
}

.sidenav i {
    padding-right: 10px;
}

.nav-list{
    padding-left: 20px;
}

.nav-list i {
    padding-right: 5px;
}

.mat-list-item{
    align-items: center;
}

.content{
    padding: 16px;
    background-color: #FFF;
}