@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  overflow-y: scroll;
  background-color: transparent;
  border: none;
}

.navegador {
  background-color: transparent;
}

button {
  width: 90%;
  height: 10%;
  background-color: #424242;
  border: none;
  margin-top: 10%;
}

a {
  background-color: transparent;
  border: none;
}

.sidenav {
  width: 8%;
  height: 50%;
  background: transparent;
  background-color: #424242;
  border-radius: 10px;
  padding: 0.5% 0 0 0.5%;
  margin: 0.25%;
  box-shadow: 2px 2px 8px 4px rgba(31, 31, 31, 0.09);
}


.sidenav i {
} 

.nav-list {
} 


.mat-list-item {
  color: #f1f1f1;
  font-family: 'Barlow', sans-serif;
  border: none;
  text-decoration: none;
}

.nav-list {
}


.sidenav {
}

/* .mat-drawer-container {
  position: relative;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  display: contents;
} */

/* .default:hover {
  transition: 1.2s;
  background-color: #a100ff;
}
.def:hover {
  color: #f1f1f1;
}

.Entrevistar:hover {
  transition: 1.2s;
  background-color: #dced31;
}
.ent:hover {
  color: #f1f1f1;
}

.aprovados:hover {
  transition: 1.2s;
  background-color: #f47349;
  color: #f1f1f1;
}
.ap:hover {
  color: #f1f1f1;
}

.contratados:hover {
  transition: 1.2s;
  background-color: #0cce6b;
  color: #f1f1f1;
}
.con:hover {
  color: #f1f1f1;
}

.inapto:hover {
  transition: 1.2s;
  background-color: #d70b0b;
}
.in:hover {
  color: #f1f1f1;
}

.active-link,
.active-link > a {
  background-color: #a100ff;
  color: white;
}

.active-link-ent,
.active-link-ent > a {
  background-color: #dced31;
  color: #313131;
}
.active-link-ap,
.active-link-ap > a {
  background-color: #f47349;
  color: white;
}
.active-link-cont,
.active-link-cont > a {
  background-color: #0cce6b;
  color: white;
}
.active-link-inap,
.active-link-inap > a {
  background-color: #d70b0b;
  color: white;
}

.active-link-vag,
.active-link-vag > a {
  background-color: #a100ff;
  color: white;
}
.active-link-an,
.active-link-an > a {
  background-color: #a100ff;
  color: white;
} */

/*Responsividade 1880px*/
@media (max-width: 1880px) {
  .sidenav {
    margin-top: 7%;
  }
}

/*Responsividade 1278px*/
@media (max-width: 1278px) {
  .sidenav {
    margin-top: 10%;
  }
}

/*Responsividade 952px*/
@media (max-width: 952px) {
  .sidenav {
    margin-top: 13%;
    width: 250px;
  }
}
