@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home .title{
    font-size: 1.5rem;
    line-height: 1.2;
    font-family: 'Barlow', sans-serif;
    
}

.home .subtitle{
    padding-top: 2%;
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
}

.home{
    display: flex;
    justify-content: space-around;
    width: 40%;
}