/*Controle do input Nome*/
#DivParaNomeCompleto {
  width: 49%;
  margin-right: 1rem;
}

/*Controle do input email*/
#DivParaEmail {
  width: 49%;
  margin-right: 1rem;
}

/*Controle Div Telefone*/
#DivTelefone {
  width: 20%;
  margin-right: 1rem;
}

/*Controle da Div do Endereço*/
#Endereco {
  width: 45%;
  margin-right: 1rem;
}

/*Controle Div Pretensão salario*/
#DivSalario {
  width: 35%;
  margin-right: 1rem;
}

/*Controle da Div Nascimento*/
#DivNascimento {
  width: 32%;
  margin-right: 1rem;
}

/*Controle Div */
#VagaDiv {
  width: 33.33%;
}

/*Controle do input Notas*/
#NotasEntradaDiv {
  position: relative;
  width: 66rem;
  display: flex;
  flex-direction: column;
}

/*Controle do input RANGE de notas*/
#customRange3 {
  width: auto;
}

#CandidatoDescricao {
  width: 100%;
  margin-right: 1rem;
}

#CandidatoDescricao textarea {
  height: 15rem;
}

.BotaoCadastrar button {
  position: absolute;
  font-size: 2rem;
  left: 90rem;
  bottom: -40px;
}

.BtnCadastrarCancelar {
  display: flex;
  justify-content: end;
}

.BtnCadastrarCancelar button {
  margin: 0.5rem;
  font-size: 2rem;
}
#btn2 {
  background-color: red;
}
