/*Controle do input Nome*/
.DivParaNomeCompleto{
    border: 3px dashed red;

}

/*Controle do input email*/
.DivParaEmail{
    border: 3px dashed red;
}

/*Controle da Div do Endereço*/
.DivParaEndereco{
    border: 3px dashed red;
    height: 10rem;
}

/*Controle Pretensão salario*/
.form-label{
    border: 3px dashed red;
}

/*Controle do input Notas*/
#NotasEntradaDiv{
    position: relative;
    left: 1rem;
    top: 0.5rem;
    width: 33rem;
    display: flex;
    flex-direction: column;
}

/*Controle do input RANGE de notas*/
#customRange3{
    width: 30rem;;
}





